{% extends 'pos_system/base.html'%}
{% load static %}
{% block header%} Edit Category {% endblock%}
{% block content %}
<form action="{% url 'pos-system:edit_category' category.id %}" method="post" class="form-container">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="{{ form.category_name.id_for_label }}" class="form-label">
            {{ form.category_name.label }}
        </label>
        <div class="form-input">
            {{ form.category_name }}
        </div>
    </div>

    <div class="form-group">
        <label for="{{ form.description.id_for_label }}" class="form-label">
            {{ form.description.label }}
        </label>
        <div class="form-input">
            {{ form.description }}
        </div>
    </div>

    <div class="form-footer">
        <button type="submit" class="submit-btn">Save</button>
    </div>
</form>


{% endblock %}
